# Environments
.env
.venv/
v/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Ignore model and dataset caches if necessary but I won't assume here.
